name: Deploy NextJS to EC2

on:
  push:
    branches: ["master"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build Next.js
        run: npm run build

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 47.129.136.171
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/portfolio
            git pull origin main
            npm install
            npm run build
            pm2 restart portfolio || pm2 start "npm start" --name portfolio
            pm2 save
            sudo systemctl restart nginx
